<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Page Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div id="_threejs_view"></div>
    <form class="fileupload" action="/" method="post" enctype="multipart/form-data">
        <h1>Upload File Here</h1>
        <input type="file" name="avatar" value="">
        <input type="file" name="image" value="">
        <input type="file" name="img" value="">
        <input type="submit" />
    </form>
    <script>
        // 1. Создаём новый объект XMLHttpRequest
        var xhr = new XMLHttpRequest();

        // 2. Конфигурируем его: GET-запрос на URL 'phones.json'
        xhr.open('GET', '/js', false);

        // 3. Отсылаем запрос
        xhr.send();

        // 4. Если код ответа сервера не 200, то это ошибка
        if (xhr.status != 200) {
            // обработать ошибку
            alert( xhr.status + ': ' + xhr.statusText ); // пример вывода: 404: Not Found
        } else {
        // вывести результат
            console.log( xhr.responseText ); // responseText -- текст ответа.
        }
    </script>
    <script src="/assets/js/main.js"></script>
</body>
</html>