<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Page Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <form class="fileupload" action="/" method="post" enctype="multipart/form-data">
        <h1>Upload File Here</h1>
        <img src=<%=img %>>
        <p><%=img %></p>
        <input type="file" name="avatar" value="">
        <input type="file" name="image" value="">
        <input type="file" name="img" value="">
        <input type="submit" />
    </form>
    <script>
        $http.get( "http://127.0.0.1:3000/js").success(function( data ) {
        $scope.key= data; //from your sample;
        alert( "Load was performed. " + data );
        });
    </script>
</body>
</html>