<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Uploads</title>
    <link href="{{ url_for('static', filename='style.css')}}" rel="stylesheet">
</head>
<body>

    <form action="/save/1" method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <button type="submit">Загрузить</button>
    </form>

    <form action="/save/2" method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <button type="submit">Загрузить</button>
    </form>

    <form action="/save/3" method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <button type="submit">Загрузить</button>
    </form>

    <form action="/save/4" method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <button type="submit">Загрузить</button>
    </form>

    <form action="/save/5" method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <button type="submit">Загрузить</button>
    </form>

    <form action="/save/6" method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <button type="submit">Загрузить</button>
    </form>

    <a href="/add"> Добавить </a>

    <form name="person">
      <input name="name" value="Виктор">
      <input name="surname" value="Цой">
    </form>

    <script>

        // создать объект для формы
        var formData = new FormData();
        formData.append("patronym", "Робертович");
        formData.append("dsdd", "dddd");
        formData.append("dsdfdd", "ddd333");

        // отослать
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/edit");
        xhr.send(formData);

    </script>

</body>
</html>